.product-card {
  background: #1f1f1f;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__image {
    width: 100px;
    height: 150px;
    object-fit: contain;
    margin: 0 auto 1rem;
  }
  &__title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  &__price {
    margin-bottom: 1rem;
  }
  &__link {
    margin-top: auto;
    margin-bottom: 20px;
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      color: #61dafb;
    }
  }
}